
.chat-view {
    margin-right: 240px;
}

.rightpanel {
    width: 240px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    right: -240px;
    display: none;
}

.chat-view .rightpanel {
    display: block;
    right: 0;
}

.chat-relative-view {
    right: 240px;
}

.chat-relative-view .rightpanel {
    display: block;
    right: 0;
}

.rightpanel, .rightpanel label {
    color: #999;
}

.rightpanel .nav-tabs {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #131d29;
    position: fixed;
    width: 240px;
}

.rightpanel .nav-tabs>li {
    display: table-cell;
    width: 1%;
}

.rightpanel .nav-tabs>li>a {
    padding: 15px 20px 16px 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.5);
}

.rightpanel .nav-tabs>.active>a, .rightpanel .nav-tabs>.active>a:hover, .rightpanel .nav-tabs>.active>a:focus {
    background: #1D2939;
    color: #fff;
}

.rightpanel .tab-content {
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 45px;
}

.chatuserlist {
    list-style: none;
    padding: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.05);
}

.chatuserlist li {
    border-top: 1px dotted rgba(255, 255, 255, 0.05);
}

.chatuserlist .media-thumb {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #999;
    padding: 3px;
    display: block;
}

.chatuserlist .media {
    margin: 10px 0;
    padding: 0;
}

.chatuserlist .online .media-thumb {
    border-color: #1CAF9A;
}

.chatuserlist .media-object {
    width: 30px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.chatuserlist .media-body {
    line-height: normal;
    padding-top: 7px;
}

.chatuserlist .media-body small {
    color: #666;
    display: block;
}

.chatuserlist .media-body strong {
    color: #bbb;
    font-size: 13px;
    margin-bottom: 4px;
    display: block;
}

.chatuserlist .badge {
    margin-top: 5px;
}

.rightpanel .pane-settings {
    font-size: 13px;
}

@media screen and (max-width: 767px) {
  .rightpanel .nav-tabs.nav-justified>li>a, .rightpanel .nav-justified>li>a {
      margin-bottom: 0;
  }
}